<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Outie</title>

        <link rel="stylesheet" href="/static/style/index.css">
        <link rel="stylesheet" href="/static/vendor/normalize.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-firestore.js"></script>
        <script src="/static/vendor/js-cookie.js"></script>
        <script src="/static/vendor/lodash.js"></script>
        <script src="/static/js/database.js"></script>
    </head>
    <body>
        <div id="root"></div>
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script src="/static/js/index.js"></script>
    </body>
</html>
