<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Outie</title>

        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        >
        <script
            src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous"
        ></script>
        <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-firestore.js"></script>
        <script src="/static/js-cookie.js"></script>
        <script src="/static/lodash.js"></script>
        <script src="/static/database.js"></script>
    </head>
    <body>
        <div id="root"></div>
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script src="/static/index.js"></script>
    </body>
</html>
