body {
    text-align: center;
    overflow: hidden;
    margin: 0px;
    height: 100vh;
    font-family: Montserrat;
    font-weight: 700;
}

.inner-root {
    background: linear-gradient(159.81deg, rgba(87, 164, 255, 0.1) 19.86%, rgba(0, 67, 147, 0.7) 76.25%), url(/static/res/mountain-background.jpg);
    background-size: 150%;
    background-position: top right;

    @media screen and (min-aspect-ratio: 36/25) {
        background-size: 130%;
    }

    @media screen and (max-aspect-ratio: 1/1) {
        background-size: cover;
    }

    height: 100%;
    overflow: hidden;

    color: white;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

    h1 {
        font-size: 80px;
        margin: 100px 0px 0px;
    }

    h2 {
        font-size: 30px;
        margin: 0px 0px 50px;
        font-weight: 400;
    }

    h3 {
        font-size: 24px;
        margin: 30px 0px 0px;
    }

    button {
        width: 200px;
        height: 60px;
        border-radius: 8px;
        background: white;
        border: none;
        font-size: 20px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;

        .sign-in-icon {
            height: 25px;
            vertical-align: bottom;
            margin: 0px 10px 0px 0px;
        }

        transition: background 0.5s, box-shadow 0.2s;
    }

    button:hover {
        background: #f2f2f2;
    }

    button:active {
        color: black;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
    }

    .error-display {
        margin: 30px 0px 0px;
    }

    .selections {
        margin: 30px 0px;

        .input-group {
            margin: 15px 0px;


            label {
                margin-right: 10px;
            }
        }
    }
}

#root {
    height: 100%;
}
